.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 40px;
}
.searchBar {
    transform:translatex(212px) translatey(0px);
}

.input {
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    background-color:#000046;
    width:273px;
    min-height:37px;
}
.select {
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    text-align: center;
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
}